<header class="header-container">
  <div class="header-right">
    <div>
      <img
        src="./img/Logo.jpg"
        alt="لوگو"
        class="logo-img"
        width="50"
        height="50"
      />
    </div>
    <div class="header-spans">
      <span class="system-title">سیستم مدیریت سازمانی</span>
      <span class="company-name">شرکت مهندسی کیان بسپار</span>
    </div>
  </div>
  <div class="header-left">
    <div>
      <img
        src="./img/Setting.svg"
        class="header-icon"
        alt="آیکون"
        width="25"
        height="25"
      />
    </div>
    <div class="header-divider">|</div>
    <div>
      <div class="header-user__info" id="toggleButton">
        <img src="./img/Profile.png" alt="" width="20" height="20" />
        صالح رضایی
        <i class="fa fa-chevron-down header-user__icon" aria-hidden="true"></i>
      </div>
      <div
        id="options-container"
        class="options-container"
        style="display: none"
      >
        <p class="profile-option">
          <i class="fa fa-user profile-options__icon" aria-hidden="true"></i>
          <a href="/profile">پروفایل</a>
        </p>
        <p class="profile-option">
          <i class="fa fa-message profile-options__icon" aria-hidden="true"></i>
          <a href="/messages">پیام ها</a>
        </p>
        <p class="profile-option">
          <i
            class="fa fa-sign-out profile-options__icon"
            aria-hidden="true"
          ></i>
          <a href="/singout">خروج</a>
        </p>
      </div>
    </div>
  </div>
</header>
