<div class="sidebar-section">
  <ul class="menu sideBar-top">
    <li>
      <a href="#dashboard" class="menu-title"
        ><i class="fa fa-tachometer"></i> داشبورد</a
      >
    </li>
    <li>
      <input type="checkbox" id="warehouse" />
      <label for="warehouse">
        <span class="sidebar-right">
          <i class="fa fa-home"></i> مدیریت انبار
        </span>
        <i class="fa fa-chevron-down sidebar-left sidebar-arrow"></i>
      </label>
      <ul class="submenu">
        <li>
          <input type="checkbox" id="basic-info" />
          <label for="basic-info"
            ><span class="sidebar-right">اطلاعات پایه</span
            ><i class="fa fa-chevron-down sidebar-left sidebar-arrow"></i
          ></label>
          <ul class="submenu">
            <li>
              <input type="checkbox" id="product-manage" />
              <label for="product-manage"
                ><span class="sidebar-right">مدیریت کالاها </span>
                <i class="fa fa-chevron-down sidebar-left sidebar-arrow"></i
              ></label>
              <ul class="submenu">
                <li><a href="#product" class="menu-title">کالاها</a></li>
                <li>
                  <a href="#product-category" class="menu-title"
                    >دسته بندی کالا</a
                  >
                </li>
              </ul>
            </li>

            <li><a href="#warehouses" class="menu-title">انبارها</a></li>
            <li>
              <a href="#warehouse-products" class="menu-title">کالاهای انبار</a>
            </li>
          </ul>
        </li>

        <li><a href="#warehouse-receipt" class="menu-title">رسید انبار</a></li>
        <li>
          <a href="#warehouse-request" class="menu-title">درخواست از انبار</a>
        </li>
        <li>
          <a href="#warehouse-to-warehouse" class="menu-title"
            >درخواست انبار به انبار</a
          >
        </li>
        <li>
          <a href="#warehouse-confirm" class="menu-title">تایید حواله انبار</a>
        </li>
        <li>
          <a href="#warehouse-reports" class="menu-title">گزارشات انبار</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#purchasing" class="menu-title"
        ><i class="fa fa-shopping-basket"></i> خرید و تدارکات</a
      >
    </li>

    <li>
      <a href="#sales" class="menu-title"
        ><i class="fa fa-database"></i> فروش</a
      >
    </li>

    <li>
      <input type="checkbox" id="users" />
      <label for="users">
        <span class="sidebar-right">
          <i class="fa fa-users"></i> مدیریت کاربران
        </span>
        <i class="fa fa-chevron-down sidebar-left sidebar-arrow"></i
      ></label>
      <ul class="submenu">
        <li><a href="#user-list" class="menu-title">لیست کاربران</a></li>
        <li><a href="#user-add" class="menu-title">افزودن کاربر</a></li>
        <li><a href="#user-roles" class="menu-title">نقش های کاربر</a></li>
      </ul>
    </li>

    <li>
      <a href="#system" class="menu-title"
        ><i class="fa fa-television"></i> مدیریت سیستم</a
      >
    </li>
  </ul>

  <div class="sideBar-end">
    <div class="sideBar-end__txt">
      KianbasparKaran | <span class="Erp">ERP</span> | 2025–2026
    </div>
    <a href="/signout" class="logOut-btn">
      <i class="fa fa-sign-out" aria-hidden="true"></i> خروج
    </a>
  </div>
</div>
