@font-face {
  font-family: "IranSans";
  src: url("./font/fa-Iran-sans-web-light.woff2");
}

:root {
  --gap: clamp(0.5rem, 3vw, 2rem);
  --font-size-base: clamp(0.8rem, 2vw, 1.1rem);
  --font-size-small: clamp(0.6rem, 1.5vw, 0.9rem);
  --font-size-Xsmall: clamp(0.4rem, 1.5vw, 0.6rem);

  /* --- Info --- */
  --info-100: #d1e9ff;
  --info-200: #b2ddff;
  --info-300: #53b1fd;
  --info-400: #2e90fa;
  --info-500: #1849a9;

  /* --- Warning --- */
  --warning-100: #fed0c7;
  --warning-200: #fedf89;
  --warning-300: #fdb022;
  --warning-400: #f79009;
  --warning-500: #93370d;

  /* --- Success --- */
  --success-100: #d1fadf;
  --success-200: #a6fac5;
  --success-300: #32d583;
  --success-400: #12b76a;
  --success-500: #05603a;

  /* --- Error --- */
  --error-100: #fee4e2;
  --error-200: #fecdca;
  --error-300: #f97066;
  --error-400: #f04438;
  --error-500: #912018;

  /* --- Cool Gray --- */
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #e4e7ec;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #101828;
  --gray-900: #0c111d;

  /* --- Primary (Brand) --- */
  --primary-100: #e6f3fe;
  --primary-200: #a6f4c5;
  --primary-300: #32d583;
  --primary-400: #0385f5;
  --primary-500: #05603a;
  --primary-600: #05603a;

  --color-white: #fff;
  --color-slateGray: #6c757d;
  --color-lightGray: #e0e0e0;
  --color-balck: #000;
  --color-grainsBoro: #e3e3e3;
  --color-whiteSmoke: #f5f5f5;
  --color-danger: #dc3545;
  --color-blue: #3774f7;
}

* {
  font-family: "IranSans";
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  direction: rtl;
  overflow-x: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* HeaderStart */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2vw 0.2rem 5vw;
  background-color: var(--color-white);
  margin-right: 0.2rem;
  gap: var(--gap);
}

.header-right {
  display: flex;
  align-items: center;
}

.header-spans {
  display: flex;
  flex-direction: column;
}

.logo-img {
  margin: 0.5rem 1rem 0.5rem 0.7rem;
  width: clamp(35px, 6vw, 50px);
  height: clamp(35px, 6vw, 50px);
}

.system-title {
  font-weight: bold;
  font-size: var(--font-size-base);
}

.company-name {
  color: var(--gray-400);
  font-size: var(--font-size-small);
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.header-icon {
  filter: grayscale(50%) brightness(0.5);
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  margin-bottom: 0.4rem;
}

.header-divider {
  color: var(--gray-300);
  font-size: 1.2rem;
  padding-bottom: 0.2rem;
}

.header-user__info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  color: var(--gray-700);
  font-size: var(--font-size-small);
  cursor: pointer;
  gap: 0.5rem;
}

.header-user__icon {
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
  transition: transform 0.3s ease;
}

.options-container {
  position: absolute;
  top: 8%;
  left: 3%;
  z-index: 999;
  background-color: var(--color-white);
  color: var(--gray-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: none;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: clamp(110px, 20vw, 200px);
}

.profile-option {
  cursor: pointer;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: var(--font-size-small);
  width: 100%;
  margin-top: 0.5rem;
}

.profile-option a {
  text-decoration: none;
  color: inherit;
}

.profile-option:hover {
  background-color: var(--primary-100);
  color: var(--primary-400);
  font-weight: bold;
}

.profile-options__icon {
  align-items: center;
  margin-left: 0.5rem;
  color: var(--color-slateGray);
  font-size: var(--font-size-small);
}

.profile-option:hover .profile-options__icon {
  background-color: var(--primary-100);
  color: var(--primary-400);
}
/* HeaderEnd */

/* Sidebar and Content */
.content-sidebar {
  display: flex;
  background-color: var(--color-grainsBoro);
  height: 88vh;
}

#sidebar-container {
  flex: 18%;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  margin: 0.8rem 0.2rem 0 0.5rem;
  background-color: var(--color-white);
}

.content-container {
  flex: 82%;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.content {
  flex: 90%;
}

.pagination-section {
  flex: 10%;
}

/* SidebarStart */

.sidebar-section {
  width: clamp(180px, 20vw, 260px);
  min-width: 180px;
  background-color: var(--color-white);
  height: 85vh;
  padding: 0 1rem 0 0.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideBar-top {
  flex: 82%;
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  overflow-y: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0;
  margin: 0;
  border-radius: 5px;
  transition: background 0.3s;
  cursor: pointer;
  font-size: var(--font-size-small);
  color: var(--color-slateGray);
}

.menu label:hover {
  background-color: var(--primary-100);
  color: var(--primary-400);
  font-weight: bold;
}

.sidebar-right {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.menu i {
  margin-left: 8px;
  margin-top: 0.2rem;
}

input[type="checkbox"] {
  display: none;
  padding-right: 1rem;
  margin: 0;
}

.submenu {
  list-style: none;
  padding-right: 20px;
  margin: 0;
  display: none;
}

input[type="checkbox"]:checked + label + .submenu {
  display: block;
}

.menu-title {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0;
  margin: 0;
  border-radius: 5px;
  transition: background 0.3s;
  cursor: pointer;
  font-size: var(--font-size-small);
  color: var(--color-slateGray);
}

.menu-title:hover {
  background-color: var(--primary-100);
  color: var(--primary-400);
  font-weight: bold;
}

.submenu a {
  display: block;
  padding: 8px 10px;
  margin-bottom: 2px;
  text-decoration: none !important;
  color: inherit;
}

.sidebar-left {
  margin-right: auto;
  margin-top: 0.7rem;
}

.sidebar-arrow {
  transition: transform 0.3s ease;
}

input[type="checkbox"]:checked + label .sidebar-arrow {
  transform: rotate(180deg);
}

.sideBar-end {
  flex: 18%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logOut-btn {
  display: flex;
  align-items: center;
  color: var(--error-400);
  text-decoration: none;
  background: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: var(--font-size-small);
  border-top: 1px solid #ddd;
  width: 100%;
}

.logOut-btn:hover {
  font-weight: bold;
}

.sideBar-end__txt {
  font-size: var(--font-size-Xsmall);
  font-weight: bold;
  text-align: center;
  color: var(--gray-500);
  padding-bottom: 2.5rem;
}

.Erp {
  font-size: var(--font-size-Xsmall);
  color: var(--color-balck);
}

/* SidebarEnd */

/* NavbarStart */
.breadcrumb {
  padding: 1rem;
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--gray-400);
}

.navbar-section a {
  text-decoration: none;
  color: var(--gray-400);
}

.active {
  color: var(--gray-700) !important;
}
/* NavbarEnd */

/* FooterStart */
.Footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  width: 100%;
  border-top: 1px solid var(--color-lightGray);
}

.Footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.result {
  display: flex;
  align-items: center;
  gap: 8px;
}

.numberResult {
  color: var(--color-slateGray);
  font-size: var(--font-size-small);
}

.num {
  font-weight: bold;
  font-size: var(--font-size-small);
  color: #333;
  border-left: 1px solid var(--color-slateGray);
  padding-left: 10px;
  margin-right: 8px;
}

.display-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.preview {
  width: clamp(20px, 8vw, 50px);
  height: clamp(20px, 4vw, 30px);
  border: 1px solid var(--color-lightGray);
  box-shadow: 2px 2px 2px var(--color-lightGray);
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 6px;
}

.preview p {
  margin: 0;
  font-size: var(--font-size-small);
}

.numberPreview {
  font-size: var(--font-size-small);
  border-radius: 3px;
  padding: 5px;
  color: var(--color-slateGray);
}

.preview img {
  width: 12px;
  height: 12px;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.pagination-container div,
.pagination-container span,
.pagination-container button {
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--font-size-small);
  background-color: transparent;
  border: none;
}

button.page-btn.active {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-weight: bold;
}
/* FooterEnd */

@media (min-width: 900px) {
  .Footer-section {
    justify-content: space-between;
    padding: 1rem;
  }
  .sideBar-end__txt {
    padding-bottom: 1rem;
  }
  .options-container {
    top: 10%;
  }
}

@media (min-width: 700px) {
  .Footer-section {
    padding: 0.6rem;
  }
  .sideBar-end__txt {
    padding-bottom: 2rem;
  }
}
