@font-face {
  font-family: "IranSans";
  src: url("../font/fa-Iran-sans-web-bold.woff2") format("woff2");
}

:root {
  --gap: clamp(0.5rem, 3vw, 2rem);
  --font-size-base: clamp(0.8rem, 2vw, 1.1rem);
  --font-size-small: clamp(0.6rem, 1.5vw, 0.9rem);
  --font-size-Xsmall: clamp(0.4rem, 1.5vw, 0.6rem);
  --error-400: #f04438;
  --gray-100: #f2f4f7;
  --gray-200: #e2e8ef;
  --gray-300: #c8d7e6;
  --gray-400: #87a7c8;
  --gray-500: #587497;
  --gray-700: #2c425d;
  --primary-100: #e6f3fe;
  --primary-400: #0385f5;
  --color-white: #fff;
  --color-slateGray: #6c757d;
  --color-lightGray: #e0e0e0;
  --color-black: #000;
  --color-grainsBoro: #e3e3e3;
  --color-whiteSmoke: #f5f5f5;
  --color-blue: #3774f7;
}

* {
  font-family: "IranSans";
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  direction: rtl;
  overflow-x: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* HeaderStart */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2vw 0.2rem 5vw;
  background-color: var(--color-white);
  margin-right: 0.2rem;
  gap: var(--gap);
}

.header-right {
  display: flex;
  align-items: center;
}

.header-spans {
  display: flex;
  flex-direction: column;
}

.logo-img {
  margin: 0.5rem 1rem 0.5rem 0.7rem;
  width: clamp(35px, 6vw, 50px);
  height: clamp(35px, 6vw, 50px);
}

.system-title {
  font-size: var(--font-size-base);
}

.company-name {
  color: var(--gray-400);
  font-size: var(--font-size-small);
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.header-icon {
  filter: grayscale(50%) brightness(0.5);
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  margin-bottom: 0.4rem;
}

.header-divider {
  color: var(--gray-300);
  font-size: 1.2rem;
  padding-bottom: 0.2rem;
}

.header-user__info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  color: var(--gray-700);
  font-size: var(--font-size-small);
  cursor: pointer;
  gap: 0.5rem;
}

.header-user__icon {
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
  transition: transform 0.3s ease;
}

.options-container {
  position: absolute;
  top: 6.5%;
  left: 4%;
  z-index: 999;
  background-color: var(--color-white);
  color: var(--gray-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: none;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: clamp(100px, 15vw, 150px);
}

.profile-option {
  cursor: pointer;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: var(--font-size-small);
  width: 100%;
  margin-top: 0.5rem;
}

.profile-option a {
  text-decoration: none;
  color: inherit;
}

.profile-option:hover {
  background-color: var(--primary-100);
  color: var(--primary-400);
}

.profile-options__icon {
  align-items: center;
  margin-left: 0.5rem;
  color: var(--color-slateGray);
  font-size: var(--font-size-small);
}

.profile-option:hover .profile-options__icon {
  background-color: var(--primary-100);
  color: var(--primary-400);
}
/* HeaderEnd */

/* Sidebar and Content */
.content-sidebar {
  display: flex;
  background-color: var(--color-grainsBoro);
  height: 88vh;
}

#sidebar-container {
  flex: 18%;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  margin: 0.8rem 0.2rem 0 0.5rem;
  background-color: var(--color-white);
}

.content-container {
  flex: 82%;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.content {
  flex: 90%;
}

.pagination-section {
  flex: 10%;
}

/* SidebarStart */

.sidebar-section {
  width: clamp(180px, 20vw, 330px);
  min-width: 180px;
  background-color: var(--color-white);
  height: 85vh;
  padding-right: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.sideBar-top {
  flex: 82%;
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  overflow-y: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0;
  margin: 0;
  border-radius: 5px;
  transition: background 0.3s;
  cursor: pointer;
  font-size: var(--font-size-small);
  color: var(--gray-500);
}

.menu label:hover {
  background-color: var(--primary-100);
  color: var(--primary-400);
}

.sidebar-right {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.menu i {
  margin-left: 8px;
  margin-top: 0.2rem;
}

input[type="checkbox"] {
  display: none;
  padding-right: 1rem;
  margin: 0;
}

.submenu {
  list-style: none;
  padding-right: 20px;
  margin: 0;
  display: none;
}

input[type="checkbox"]:checked + label + .submenu {
  display: block;
}

.menu-title {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0;
  margin: 0;
  border-radius: 5px;
  transition: background 0.3s;
  cursor: pointer;
  font-size: var(--font-size-small);
  color: var(--gray-500);
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.menu-title:hover {
  background-color: var(--primary-100);
  color: var(--primary-400);
}

.submenu a {
  display: block;
  padding: 8px 10px;
  margin-bottom: 2px;
  text-decoration: none !important;
  color: var(--gray-500);
}

.sidebar-left {
  margin-right: auto;
  margin-top: 0.7rem;
}

.sidebar-arrow {
  transition: transform 0.3s ease;
}

input[type="checkbox"]:checked + label .sidebar-arrow {
  transform: rotate(180deg);
}

.menu-title svg,
.sidebar-right svg {
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: middle;
}

.sideBar-end {
  flex: 18%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logOut-btn {
  display: flex;
  align-items: center;
  color: var(--error-400);
  text-decoration: none;
  background: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: var(--font-size-small);
  border-top: 1px solid #ddd;
  width: 100%;
}

.sideBar-end__txt {
  font-size: var(--font-size-Xsmall);
  text-align: center;
  color: var(--gray-500);
  padding-bottom: 2.5rem;
}

.Erp {
  font-size: var(--font-size-Xsmall);
  color: var(--color-black);
}

/* SidebarEnd */

/* NavbarStart */

.breadcrumb {
  padding: 1rem;
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--gray-200);
}

.breadcrumb-item a {
  text-decoration: none;
  color: var(--gray-400);
}

.breadcrumb-item .fas {
  padding-left: 5px;
}

.breadcrumb-item.active {
  color: var(--gray-700);
}

.toolbars {
  color: var(--gray-300);
  margin-bottom: 0.5rem;
  padding: 0;
  height: 3vh;
}

.toolbars-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 2;
}

input::placeholder {
  font-size: var(--font-size-Xsmall);
  color: var(--color-slateGray);
}

input.search-input {
  padding-right: 7px;
  font-size: var(--font-size-Xsmall);
  width: clamp(375px, 5vw, 30px);
  height: 30px;
  border-radius: 4px;
  text-align: right;
  border: 1px solid var(--gray-300);
}

.search-input::placeholder {
  background: url("./img/search-normal.png") no-repeat right center;
  background-size: 16px 16px;
  padding: 1.2rem;
}

.warehouse-dropdown {
  display: inline-flex;
  min-width: max-content;
  width: clamp(100px, 12vw, 160px);
  height: 30px;
  font-size: var(--font-size-Xsmall);
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  color: var(--color-slateGray);
}

.warehouse-dropdown:focus {
  border-color: var(--color-black);
}

.warehouse-dropdown span {
  padding: 0 1rem;
}

.warehouse-dropdown .dropdown-menu {
  width: 100%;
  min-width: unset;
  border-radius: 4px;
  padding: 0;
}

.warehouse-dropdown .dropdown-toggle {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: inherit;
  white-space: nowrap;
  border: none;
}

.dropdown-item {
  font-size: var(--font-size-Xsmall);
}

.dropdown-item:hover {
  background-color: var(--primary-100);
  color: var(--primary-400);
}

.warehouse-dropdown .dropdown-menu {
  width: 100%;
  min-width: max-content;
  font-size: var(--font-size-Xsmall);
  padding: 0;
  margin: 0;
}

input.Date-input {
  font-size: var(--font-size-Xsmall);
  width: 157px;
  height: 30px;
  border-radius: 4px;
  text-align: right;
  border: 1px solid var(--gray-300);
}

.Date-input::placeholder {
  background: url("./img/calender.png") no-repeat 5px center;
  background-size: 16px 16px;
}

.search-btn {
  color: var(--gray-700);
  background-color: var(--gray-100);
  margin-right: 0.5rem;
  border-radius: 4px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.search-btn:hover,
.sortImage:hover,
.sortImage:hover svg {
  background-color: var(--primary-100);
  color: var(--primary-400);
  stroke: var(--primary-400);
}

.toolbars-left {
  display: flex;
  justify-content: flex-end;
  margin-left: 1rem;
  align-items: center;
  flex: 1;
}

.toolbars-left p {
  font-size: var(--font-size-Xsmall);
  color: var(--primary-400);
  width: 64px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.toolbars-left p:hover {
  background: var(--primary-100);
  border-radius: 4px;
}

.filter {
  border: 1px solid var(--primary-400);
  width: 74px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: url("./img/filter-square.png") no-repeat 50px center;
  background-size: 16px 16px;
}

.filter span {
  font-size: 12px;
  color: var(--primary-400);
  padding-right: 1rem;
}

.filter:hover {
  background-color: var(--primary-100);
}

.sortImage {
  width: 40px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid var(--gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sortImage {
  background: url("./img/sort-descending.png") no-repeat center center;
  background-size: 16px 16px;
}

/* Filter Panel */
.filter-panel {
  position: fixed;
  top: 0;
  right: -320px;
  width: clamp(180px, 20vw, 330px);
  min-width: 180px;
  height: 100%;
  background-color: var(--color-white);
  font-size: var(--font-size-small);
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1050;
  transition: right 0.3s ease-in-out;
  color: var(--gray-500);
}

.filter-panel.open {
  right: 0;
}

.filter-panel .filter-header {
  background-color: var(--primary-100);
  border-bottom: 1px solid var(--primary-100);
}

.filter-panel .filter-body {
  overflow-y: auto;
  max-height: calc(100% - 56px);
}

.form-check:hover {
  background-color: var(--primary-100);
  color: var(--primary-400);
}

.filter-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1040;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.filter-backdrop.show {
  opacity: 1;
  visibility: visible;
}
/* NavbarEnd */

/* FooterStart */
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  width: 100%;
  border-top: 1px solid var(--color-lightGray);
}

.footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.result {
  display: flex;
  align-items: center;
  gap: 8px;
}

.numberResult {
  color: var(--color-slateGray);
  font-size: var(--font-size-small);
}

.num {
  font-size: var(--font-size-small);
  color: #333;
  border-left: 1px solid var(--color-slateGray);
  padding-left: 10px;
  margin-right: 8px;
}

.display-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.preview {
  width: clamp(20px, 8vw, 50px);
  height: clamp(20px, 4vw, 30px);
  border: 1px solid var(--color-lightGray);
  box-shadow: 2px 2px 2px var(--color-lightGray);
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 6px;
}

.preview p {
  margin: 0;
  font-size: var(--font-size-small);
}

.numberPreview {
  font-size: var(--font-size-small);
  border-radius: 3px;
  padding: 5px;
  color: var(--color-slateGray);
}

.preview img {
  width: 12px;
  height: 12px;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.pagination-container div,
.pagination-container span,
.pagination-container button {
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--font-size-small);
  background-color: transparent;
  border: none;
}

button.page-btn.active {
  background-color: var(--color-blue);
  color: var(--color-white);
}
/* FooterEnd */

/* Responsive */
@media (max-width: 1280px) and (min-width: 700px) {
  .options-container {
    left: 3.5%;
    top: 8%;
  }

  .toolbars {
    flex-wrap: nowrap;
    height: 3vh;
  }

  .toolbars-right {
    flex-wrap: nowrap;
    width: 80%;
  }

  .Date-input::placeholder {
    background: url("./img/calender.png") no-repeat 5px center;
    background-size: 16px 16px;
  }

  .search-input::placeholder {
    background: url("./img/search-normal.png") no-repeat right center;
    background-size: 16px 16px;
    padding: 1rem;
  }

  .toolbars-right .search-btn,
  .toolbars-right .date-icon,
  .filter,
  .sortImage {
    width: 30px !important;
  }

  .toolbars-left {
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 20%;
  }

  .filter span {
    display: none;
  }

  .filter {
    background: url("./img/filter-square.png") no-repeat center center;
  }

  .search-btn {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .toolbars-right input,
  .warehouse-dropdown {
    width: 100px;
  }
}

@media (min-width: 700px) {
  .sideBar-end__txt {
    padding-bottom: 2rem;
  }

  .toolbars-left p {
    font-size: var(--font-size-Xsmall);
    color: var(--primary-400);
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .options-container {
    position: absolute;
    top: 7%;
    left: 5%;
  }

  .toolbars-right {
    width: 50% !important;
  }

  .toolbars-left {
    width: 50% !important;
  }

  .toolbars-right input,
  .search-btn,
  .filter,
  .toolbars-left .sortImage {
    width: 30px;
    height: 30px;
  }

  .warehouse-dropdown {
    height: 30px !important;
    min-width: 52px;
  }

  .search-btn {
    width: 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .Date-input::placeholder {
    color: transparent;
    background: url("./img/calender.png") no-repeat center center;
    background-size: 16px 16px;
  }

  .search-input::placeholder {
    color: transparent;
  }

  .search-input {
    background: url("./img/search-normal.png") no-repeat center center;
    background-size: 16px 16px;
  }

  .filter span {
    display: none;
  }

  .filter {
    background: url("./img/filter-square.png") no-repeat center center;
  }

  .toolbars-left p {
    font-size: var(--font-size-Xsmall);
    color: var(--primary-400);
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 690px) {
  .footer-section {
    justify-content: center;
    padding: 0.7rem;
  }
}

@media (max-width: 610px) {
  .footer-section {
    justify-content: center;
    padding-top: 0.1rem;
    padding-bottom: 0;
  }
}
