<div class="toolbars d-flex justify-content-between" id="toolbars-container">
  <div class="d-flex m-2 toolbars-right">
    <input
      class="search-input ms-2"
      type="search"
      name="text"
      placeholder="جستجو براساس شماره درخواست انبار..."
      id=""
    />

    <div class="btn-group warehouse-dropdown ms-2">
      <button
        type="button"
        class="btn dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <span>انبار</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#"> انبار 1</a></li>
        <li><a class="dropdown-item" href="#"> انبار 2</a></li>
        <li><a class="dropdown-item" href="#"> انبار 3</a></li>
      </ul>
    </div>
    <input
      class="Date-input ms-2"
      type="text"
      name="text"
      placeholder="تاریخ درخواست"
      id=""
    />

    <button type="button" class="btn search-btn">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <div class="d-flex flex-end toolbars-left">
    <p class="my-3 mx-2">پاک کردن</p>
    <span class="my-2 filter">
      <span>فیلترها</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M4 6H20M4 12H14M4 18H10"
          stroke="var(--primary-400)"
          stroke-width="2"
          stroke-linecap="round"
        />
        <circle
          cx="16"
          cy="6"
          r="2"
          fill="currentColor"
          stroke="var(--primary-400)"
        />
        <circle
          cx="18"
          cy="12"
          r="2"
          fill="currentColor"
          stroke="var(--primary-400)"
        />
        <circle
          cx="20"
          cy="18"
          r="2"
          fill="currentColor"
          stroke="var(--primary-400)"
        />
      </svg>
    </span>
    <span class="mx-3 sortImage">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M3 6H13M3 12H9M3 18H6"
          stroke="var(--gray-700)"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M17 4V20M17 20L21 16M17 20L13 16"
          stroke="var(--gray-700)"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>
  </div>
</div>
