<div class="toolbars d-flex justify-content-between" id="toolbars-container">
  <div class="d-flex m-2 toolbars-right">
    <input
      class="search-input ms-2"
      type="text"
      name="text"
      placeholder="جستجو براساس شماره درخواست انبار..."
      id=""
    />

    <div class="btn-group warehouse-dropdown ms-2">
      <button
        type="button"
        class="btn dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <span>انبار</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#"> انبار 1</a></li>
        <li><a class="dropdown-item" href="#"> انبار 2</a></li>
        <li><a class="dropdown-item" href="#"> انبار 3</a></li>
      </ul>
    </div>
    <input
      class="Date-input ms-2"
      type="text"
      name="text"
      placeholder="تاریخ درخواست"
      id=""
    />

    <button type="button" class="btn search-btn">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <div class="d-flex flex-end toolbars-left">
    <p class="my-3 mx-2">پاک کردن</p>
    <span class="my-2 filter">
      <span>فیلترها</span>
    </span>
    <span class="mx-3 sortImage"></span>
  </div>
</div>
