<header class="header-container">
  <div class="header-right">
    <div>
      <img
        src="./img/Logo.jpg"
        alt="لوگو"
        class="logo-img"
        width="50"
        height="50"
      />
    </div>
    <div class="header-spans">
      <span class="system-title">سیستم مدیریت سازمانی</span>
      <span class="company-name">شرکت مهندسی کیان بسپار</span>
    </div>
  </div>
  <div class="header-left">
    <div>
      <img
        src="./img/Setting.svg"
        class="header-icon"
        alt="آیکون"
        width="25"
        height="25"
      />
    </div>
    <div class="divider">|</div>
    <div>
      <div class="user-info" id="toggleButton">
        <img src="./img/Profile.png" alt="" width="20" height="20" />
        صالح رضایی
        <i class="fa fa-chevron-down user-icon" aria-hidden="true"></i>
      </div>
      <div id="optionsContainer" class="optionsContainer" style="display: none">
        <p class="option">
          <i class="fa fa-user options-icon" aria-hidden="true"></i>
          <a href="/profile">پروفایل</a>
        </p>
        <p class="option">
          <i class="fa fa-message options-icon" aria-hidden="true"></i>
          <a href="/messages">پیام ها</a>
        </p>
        <p class="option">
          <i class="fa fa-sign-out options-icon" aria-hidden="true"></i>
          <a href="/singout">خروج</a>
        </p>
      </div>
    </div>
  </div>
</header>
