<div class="footer-section">
  <div class="footer-right">
    <div class="result">
      <div class="numberResult">تعداد نتایج:</div>
      <div span class="num">۱۶۰۰۰ مورد</div>
    </div>

    <div class="display-controls">
      <span class="numberPreview">تعداد نمایش</span>
      <div></div>
    </div>
    <div class="preview">
      <p>۱۱</p>
      <img src="./img/Arrow.png" width="15" height="15" alt="" />
    </div>
  </div>
  <div class="pagination-container">
    <div class="pagenumbers" id="pagination"></div>
  </div>
</div>
